{% extends "base.html" %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="schools">Schools</a></li>
            <li class="breadcrumb-item active" aria-current="page">Classes</li>
        </ol>
    </nav>

    {% if credit_list %}
        {% for credit in credit_list.all %}
            <div class="grid">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item">{{ credit.grade_level }} {{ credit.subject }}: <b>{{ credit.required_exam }} {{ credit.name }}</b></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No classes are available.</p>
    {% endif %}
{% endblock %}