{% extends "base.html" %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="classes">Classes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Schools</li>
        </ol>
    </nav>

{% if institution_list %}
    <ul>
        {% for institution in institution_list.all %}
            <li>
                <h5><a href="{{ institution.website }}">{{ institution.name }}</a></h5>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No schools are available.</p>
    {% endif %}
{% endblock %}