<!doctype html>
<html lang="en-us">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hayden Schilling</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
      <link rel="stylesheet" href="{% static "Education/styles.css" %}">
      <link rel="apple-touch-icon" sizes="180x180" href="{% static "Education/apple-touch-icon.png" %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static "Education/favicon-32x32.png" %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static "Education/favicon-16x16.png" %}">
<!--      <link rel="manifest" href="{% static "Education/site.webmanifest" %}">-->
  </head>
  <body>
    <div id="content">
      {% block content %}
        <ul class="nav nav-tabs">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Classes</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="admin/Education/credit/add">Add a class</a>
              <a class="dropdown-item" href="admin/Education/credit">Modify a class</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="education/classes">List classes</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Schools</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="admin/Education/institution/add">Add a school</a>
              <a class="dropdown-item" href="admin/Education/institution">Modify a school</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="education/schools">List schools</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Teachers</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="admin/Education/instructor/add">Add a teacher</a>
              <a class="dropdown-item" href="admin/Education/instructor">Modify a teacher</a>
            </div>
          </li>
        </ul>
      {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>