<html lang="en-us">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>$Title$</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/css/login.css">

</head>
<body>
<section class="jumbotron jumbotron-fluid bg-transparent">
    <div class="container-fluid">
        <h1 class="text-center">Gymkhana Stampede</h1>
        <h2 class="text-center">Kentucky Derby Festival | Metro Louisville Government</h2>
        <br/>
        <h4 class="text-center">Jockeys Up!</h4>
    </div>
</section>
<article>
    <section id="login">
        <section id="direct_login">
            <label for="username">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                </div>
                <input type="text" class="form-control" id="username" placeholder="Username"
                       aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
        </section>
        <section id="social_media_login">
            <Facebook></Facebook>
            <GitHub></GitHub>
            <Google></Google>
            <Instagram></Instagram>
            <NetFlix></NetFlix>
            <Snapchat></Snapchat>
            <Twitter></Twitter>
            <Waze></Waze>
            <Zillow></Zillow>
        </section>
    </section>
</article>
</body>
</html>