<!DOCTYPE html>
<html lang="en-us">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>$Title$</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cormorant|Fredericka+the+Great" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/css/louisville_concierge.css">

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="landing_page.html">Home<span class="sr-only"></span> </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Participating Partners
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Metro Louisville Government</a>
                        <a class="dropdown-item" href="#">Mayor Greg Fischer's Office</a>
                        <a class="dropdown-item" href="#">Kentucky Derby Festival</a>
                        <a class="dropdown-item" href="#">Churchill Downs</a>
                        <a class="dropdown-item" href="#">Gallopalooza</a>
                        <a class="dropdown-item" href="#">Google | Waze</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Iconic Tourist Favorite Places to Stay
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Hilton Seelbach</a>
                        <a class="dropdown-item" href="#">Omani Hotel</a>
                        <a class="dropdown-item" href="#">21C</a>
                        <a class="dropdown-item" href="#">Marriott Downtown</a>
                        <a class="dropdown-item" href="#">Bed & Breakfast</a>
                        <a class="dropdown-item" href="#">House Swaps</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Iconic Local Must To-Do's Along First Friday Downtown Trolley Hop
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Louisville Slugger Museum</a>
                        <a class="dropdown-item" href="#">Mohammad Ali Peace Center</a>
                        <a class="dropdown-item" href="#">Actor's Theatre of Louisville</a>
                        <a class="dropdown-item" href="#">Kentucky Center for the Arts</a>
                        <a class="dropdown-item" href="#">Fraiser History Museum</a>
                        <a class="dropdown-item" href="#">Glassworks</a>
                        <a class="dropdown-item" href="#">Kentucky Science Museum</a>
                        <a class="dropdown-item" href="#">NULU</a>
                        <a class="dropdown-item" href="#">4th Street Live!</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Legendary Louisvillians and the Surrounding Area
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><i>Happy Birthday</i> songwriter</a>
                        <a class="dropdown-item" href="#">U.S. President Zachary Taylor</a>
                        <a class="dropdown-item" href="#">Legendary Heavy Weight Boxer & Advocate Mohammad Ali</a>
                        <a class="dropdown-item" href="#">Actor George Clooney</a>
                        <a class="dropdown-item" href="#">Actor Tom Cruise</a>
                        <a class="dropdown-item" href="#">Actress Jennifer Lawrence</a>
                        <a class="dropdown-item" href="#">Reporter Diane Sawyer</a>
                        <a class="dropdown-item" href="#">Frontiersman George Rogers Clark</a>
                        <a class="dropdown-item" href="#">Actress Cathy Bates</a>
                        <a class="dropdown-item" href="#">The Bubble Mint Twins</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Local Flavor
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Mint Julep</a>
                        <a class="dropdown-item" href="#">Old Fashion</a>
                        <a class="dropdown-item" href="#">Benedictine Finger Sandwich Spread</a>
                        <a class="dropdown-item" href="#">Henry Baines' Sauce</a>
                        <a class="dropdown-item" href="#">Frickled Pickles</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hidden Gems
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Bourbon Trail</a>
                        <a class="dropdown-item" href="#">Garden Court</a>
                        <a class="dropdown-item" href="#">White Hall</a>
                        <a class="dropdown-item" href="#">The Henry Clay Building</a>
                        <a class="dropdown-item" href="#">Norton Commons</a>
                        <a class="dropdown-item" href="#">Anchorage</a>
                        <a class="dropdown-item" href="#">The Highlands</a>
                        <a class="dropdown-item" href="#">River Walk</a>
                        <a class="dropdown-item" href="#">Falls of the Ohio</a>
                        <a class="dropdown-item" href="#">Fort Knox</a>
                        <a class="dropdown-item" href="#">Kaden Tower</a>
                        <a class="dropdown-item" href="#">Cherokee Park</a>
                        <a class="dropdown-item" href="#">Old Louisville Victorian District</a>
                        <a class="dropdown-item" href="#">Kentucky Kingdom</a>
                        <a class="dropdown-item" href="#">Huber's Family Farm & Restaurant</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>

<footer>
    <br>
    <p class="text-center">Copyright 2018 -- Gavin Schilling Marketing</p><br>
</footer>
</body>
</html>