{% extends "base.html" %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../education/classes">Classes</a></li>
            <li class="breadcrumb-item"><a href="../education/schools">Schools</a></li>
            <li class="breadcrumb-item active" aria-current="page">Jobs</li>
        </ol>
    </nav>

{% if career_list %}
    <ul>
        {% for career in career_list.all %}
            <li>
                <h5>{{ career.profession }}</h5>
                <p><b>{{ career.average_salary }}</b> - {{ career.required_education }}</p>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No jobs are available.</p>
    {% endif %}
{% endblock %}